@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

* {
    font-family: 'Nanum Gothic';
}
body {
    padding: 10px;
}

.responsive {
    width: 100%;
    height: auto;
}

.center {
    text-align: center;
}